.carousel-box {
  height: 30vh;
  /* padding-left: 10px;
  padding-top: 10px; */
}

.img-install {
  max-width: 60vw;
}

.card-img {
  height: 130px;
}

.card-spinner {
  height: 100px;
  width: 100px;
  margin: auto;
  margin-top: 15px;
  margin-bottom: 15px;
}

section {
  padding-bottom: 2rem;
  border-bottom: 2px solid lightgray;
  margin: auto;
}

section:last-child {
  border: none;
}

#navTitle {
  font-size: 2rem;
}

.modal-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
